
/* import fonts from fonts.css file */
@import url(./fonts.css);
@import url(./partials/_global.css);

/* =-----------Globals---------------= */

html, body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body {
    padding-top: 60px;
    /* background-image: url(../assets/body-bg.png); */
    background-repeat:no-repeat;
    /* background-position: right; */
    background-size: cover;
}

:root {
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(118,85,225,0.3);
    --box-shadow: 0px 10px 30px rgba(57,56,61,0.205);

    /* Font Root */
    --roboto: "Roboto", cursive;
}





/* =-----------Navbar-----------------= */

.header_area .main-menu .navbar .navbar-brand {
    padding: 0rem 2rem 0rem 5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 20rem;
    box-shadow: var(--box-shadow);
}

.header_area .main-menu .nav-item .nav-link {
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav .nav-link:hover{
    /* background: var(--primary-color2); */
    color: var(--primary-color2);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
}

/* =-----------Hero-----------------= */
.site-main .site-banner {
    /* background: url(../assets/) no-repeat; */
    background-position: 0% 50%;
}

.site-main .site-banner .site-title h3 {
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
    font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
    padding: 7rem 0;
    width: 90rem;
}

#CTA-contact-me-btn {
    margin-right: 1rem;
}


/* =-----------About-----------------= */
.site-main .about-section {
    padding: 8rem 0rem;
}

.site-main .about-section .about-title h2 > span {
    display: block;
    font: normal bold 42px/60px var(--roboto);
}

.site-main .about-section .about-title .paragraph > p {
    padding: 0.4rem 0;
}

.about-image {
    display: flex;
    justify-content: center;
}

#about-me-image {
    border-radius: 38% 62% 39% 61% / 40% 39% 61% 60% ;
}


/* =-----------Services-----------------= */
.site-main .services-section {
    padding: 7rem 0rem;
}

.site-main .services-section .service-title {
    padding: 0rem 14rem;
}

.site-main .services-section .service-title h1 {
    font-size: 35px;
}

.site-main > .services-section .services {
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-section .services:hover {
    box-shadow: var(--box-shadow);
}


/* =-----------Projects-----------------= */
.site-main .projects-section {
    padding: 7rem 0rem;
}

.site-main .projects-section .button-group button {
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .projects-section .button-group button + button{
    padding-left: 3rem;
}

.site-main .projects-section .grid .our-project > title h4 {
    font: normal 700 25px/12px var(--roboto);
}

.site-main .projects-section .grid .our-project .img a:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1b1b1);
}

.button-group .active {
    color: var(--primary-color2);
    background-image: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
}

.button-group button:hover {
    color: var(--primary-color2);
}

.our-project .img a img{
    max-width: 380px !important;
}



/* =-----------Testimonials-----------------= */
.site-main .testimonials  {
    padding: 7rem 0rem;
}

.site-main .testimonials .client {
    background: rgba(248, 252, 253, 0.973);
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .testimonials .client .client-img {
    padding: 2rem;
}

.site-main .testimonials .client .about-client {
    padding-top: 2rem;
}

.site-main .testimonials .client .about-client h4 {
    font: normal 500 21px/20px var(--roboto);
}

.site-main .testimonials .client .about-client p {
    font-size: 14px;
}

.site-main .testimonials .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .testimonials .owl-carousel .owl-dots .owl-dot.active span {
    background: var(--primary-color2);
    width: 12px;
    height: 12px;
}

.owl-carousel .owl-item img {
    border-radius: 50%;
}

/* =-----------Contact Me-----------------= */
.contact-section {
    padding: 7rem 0rem;
}

.contact-container {
    display: block;
    margin: 0 auto;
    padding: 3rem;
    flex-direction: column;
    /* background: rgba(248, 252, 253, 0.973); */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 800px;
    border-radius: 4px;
    background: rgba(248, 252, 253, 0.973);
    box-shadow: var(--box-shadow);
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #fff;
    font-size: 18px;
}

form textarea {
    height: 15rem;
}

#send-button {
    display: block !important;
    margin: 2rem auto !important;
    width: 90%;
    max-width: 600px;
}




/* =-----------Footer-----------------= */
.footer-section {
    padding: 5rem 0;
    background: url('../assets/') no-repeat;
    background-color: rgba(248,249,250,1);
}

.footer-section .social h5 {
    font: normal 500 23px/30px var(--roboto);
}

.footer-section .social a > i {
    font-size: 22px;
    padding: 2rem;
    color: #9c9c9c;
}

.footer-section .social a > i:hover {
    color: var(--primary-color2);  
}

#credits {
    color: var(--primary-color2);
}