

/* global classes */
/* .title-text { */
    /* font: normal bold 48px/72px var(--roboto); */
/* } */

.text-uppercase {
    text-transform: uppercase;
}

/* buttons */


/* paragraph text */
p.para {
    color: var(--text-color);
    /* font: normal 500 20px/25px var(--roboto); */
}


button:focus,
button:active
button:hover
.btn:active,
.btn.active {
    outline: 0px !important;
    box-shadow: none !important;
}

.title-h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

.navabr_fixed {
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: var(--box-shadow);
    z-index: 99;
    transition: background 1s ease;
}
